header {
    height: 10vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.burger {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.burger div {
    height: 1px;
    width: 46px;
    margin: 5px;
}