<%- include("partials/header.ejs") %>
<div class="about-container">
    <div class="subtitle">About Me</div>
    <div class="about-sub-container-left">
        <div class="about-subheading">Undergraduate</div>
        <div class="about-subcontent">
            Marine Sciences (BSc) investigating the secrets to the events that occur under the ocean.
            I studied the ocean’s physics and biology until I was happy I knew enough.
        </div>
    </div>

    <div class="about-sub-container-right">
        <div class="about-subheading">Postgraduate</div>
        <div class="about-subcontent">
            Predictive Modelling and Scientific Computing (MSc) predicting the future -
            quite a challenging change from my undergrad, but I’m a computing geek at heart and am loving it.
        </div>
    </div>

    <div class="about-sub-container-left">
        <div class="about-subheading">Web-Dev Business</div>
        <div class="about-subcontent">
            During the MSc and the summer before, I had become interested in web development, both design and
            implementation. From this, I started making websites for my family and close friends, and wanted to continue
            helping and creating for everyone
        </div>
    </div>




</div>
<%- include("partials/footer.ejs") %>