<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/home/layout.css">
<link rel="stylesheet" href="styles/home/content.css">

<div class="home-container">
    <div class="front-end-title">Front End</div>
</div>

<%- include("partials/footer.ejs") %>