<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/home/layout.css">
<link rel="stylesheet" href="styles/home/content.css">

<div class="home-container">
    <div class="front-back-end-container">
        <div class="front-end-title">Front End</div>
        <div class="back-end-title">Back End</div>
    </div>

    <div class="DIL-container">
<!--        3 white lines through these words-->
        <div>Design</div>
        <div>Development</div>
        <div>Launch</div>
    </div>

    <div class="experience-container">
        <div class="experience-help">I'm Jack, I can help you.</div>
        <div class="experience-email">jacktheroberts10@gmail.com</div>
        <!--        Make sure to include gold squares-->
        <a href="#" class="fa-brands fa-linkedin"></a>
        <a href="#" class="fa-brands fa-github"></a>
        <div class="experience-title">Experience</div>
        <div class="icon-container">
            <a class="fa-brands fa-html5"></a>
            <a class="fa-brands fa-css3-alt"></a>
            <a class="fa-brands fa-js"></a>
            <a class="fa-brands fa-figma"></a>
            <a class="fa-brands fa-node"></a>
            <a class="fa-brands fa-react"></a>
            <a class="fa-brands fa-python"></a>
        </div>
    </div>

    <div class="portfolio-container">
        <div class="web-dev-container">
            <div class="web-dev-title">Web-Dev</div>
            <div class="website">Mindwell Counselling</div>
            <div class="website">Other</div>
        </div>

        <div class="designs-container">
            <div class="designs-title">Designs</div>
<!--            Add images to these like in design-->
            <div class="design">Velocity Balls</div>
            <div class="design">Black + White</div>
            <div class="design">Into the Polaroid</div>
        </div>

        <div class="projects-container">
            <div class="projects-title">Projects</div>
            <div class="project">AI Chess Bot</div>
            <div class="project">De-Orbiting Satellite Model</div>
            <div class="project">RC Bot</div>
            <div class="project">3D Printing</div>
        </div>
    </div>

    <div class="RiDDL-container">
        <div class="RiDDL-title">Find out what <b>RiDDL</b> stands for</div>
        <div class="research"><b>Research</b> - Before anything, I learn everything there is to know about your <b>business</b>.</div>
        <div class="design"><b>Design</b> - Combinations of a creative layout with precise positioning leaves no <b>detail</b> left out.</div>
        <div class="development"><b>Development</b> - HTML, CSS and Javascript are used to build your <b>perfect</b> site, maximising SEO.</div>
        <div class="launch"><b>Launch</b> - When the time is right, your site will go live to millions of people to <b>skyrocket</b> your business.</div>
    </div>
</div>

<%- include("partials/footer.ejs") %>