</body>
<link rel="stylesheet" href="styles/footer/layout.css">
<link rel="stylesheet" href="styles/footer/content.css">
<footer>
    <div class="footer-title">Choose RiDDL</div>
    <div class="footer-email"><a href="">jacktheroberts10@gmail.com</a></div>
    <a href="#" class="fa-brands fa-linkedin"></a>
    <a href="#" class="fa-brands fa-github"></a>
    <div class="Ts&Cs">Copyright @ RiDDLTech | <a href="">Terms of service</a> | <a href="">Privacy Policy</a></div>
</footer>
</html>