<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RiDDLTech</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<link rel="stylesheet" href="styles/header/layout.css">
<link rel="stylesheet" href="styles/header/content.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>

<header>

    <div class="title"><h1>RiddlTech</h1></div>

    <div class="burger">
        <div></div>
        <div></div>
        <div></div>
    </div>

</header>

<body>